body {

    font-family: Arial, sans-serif;
    background-color:rgb(206, 205, 205);
    justify-content: center;
    padding:0;
    box-sizing: border-box;
    
    
  }
  
  header {
    background-image: linear-gradient(#d6d1d6,#8b888b, gray,rgb(73, 71, 71));
    color: #0c0c0c;
    text-align: center;
    
    min-width:100%;
    margin:0;
    width:100%;
    margin-left:10px;
    margin-right:-150px;
    width:auto;
  }

  .RPS {
    width:auto;
    width:100%;
    font-size:30px;
    font-family: "jaf-lapture", serif;
    font-weight: bold;
    margin-left:-60px;
  }
#Round{
    font-family: "jaf-lapture", serif;
    text-align:center;
    font-size: 25px;
    margin-left:2%;
}
.round{
    justify-content:center;
    margin-left:35%;
width:500px;
    margin-top:2%;
    border: 4px solid black;
    width:30%;
    background-color :rgb(73, 71, 71);
    color:white;
    border-radius:5px;

    
}
.name{
    font-size: 20px;
    font-family: "jaf-lapture", serif;
    margin-left:-0.2%;
    margin-top:5%;
}
input{
    border-color:black;
}

#userInput{
 background-color:rgb(73, 71, 71);
 border-radius:5px;
 color :white;
 border:3px solid rgb(0, 0, 0);

}
.btn{
  height:2rem;
  text-align:center;
  font-family: "jaf-lapture", serif;
}
#message{
  font-family: "jaf-lapture", serif;
  font-size:1.5rem;
}
#scissors{
  background-color:transparent;
  border:none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  justify-content:center;
}
#scissors:hover {
  background-color: rgba(189, 188, 188, 0.5);
  justify-content:center;
  
}

#scissors:active {
  background-color: #929192;
  
}

#paper{
  background-color:transparent;
  border:none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  margin-left:10%;
  justify-content:center;
}
#paper:hover {
  background-color: rgba(189, 188, 188, 0.5);
  justify-content:center;
  
}

#paper:active {
  background-color: #929192;
  
}
#rock{
  background-color:transparent;
  border:none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  justify-content:center;
}
#rock:hover {
  background-color: rgba(189, 188, 188, 0.5);
  justify-content:center;
  
}

#rock:active {
  background-color: #929192;
  
}
.column{
float:left;
width:50%;
padding:5px;
}
row::after{
  content:"";
  display:table;
  clear:both;
  
}

.choices{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1px;

 


}